# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.swiftpm/
.build/

# IDEs
.idea/

# Misc
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
